[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rtlr"]
	path = rtlr
	url = https://github.com/matanhakim/rtlr
	shallow = true
	registered = true
